<link rel="stylesheet" type="text/css" href="/static/css/BHeader.css" />
<script type="text/javascript">
var CITIES=['Mumbai','Delhi/NCR','Kolkata','Chennai','Bangalore','Hyderabad','Pune','Chandigarh'];
var RECENT_LOCATIONS=['Kurla, Mumbai','JNU, Delhi/NCR','Karol Bagh, Kolkata',];

</script>
<form id="location-select">
	<div id="location-form">
	<input type="text" autocomplete="off" data-old="" placeholder="All of Mumbai" class="start-boxes-input dark" id="explore-location" name="qloc"><button class="set-loc">Set Location</button>
	<div class="loc-message"></div>	
	<input type="hidden" id="lat">
	<input type="hidden" id="lng">
	</div>	
	<ul id="location-selection-list">
	<li class="locate-me">Locate Me</li>
	<li class="recent-locations">Recent Locations</li>	
	</ul>
	
</form>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script type="text/javascript" src="http://www.findable.in/js/vendor/jquery.cookie.js"></script>
<script type="text/javascript" src="https://raw.github.com/douglascrockford/JSON-js/master/json2.js"></script>
<script type="text/javascript" src="/static/js/BHeader.js"></script>