<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
I am that page which you totally forgot about
        {{boxes}}
        {{data}}
        {{title}}
</body>
</html>