@CHARSET "UTF-8";

.location-selection-list{
	
}

.set-loc{
	display: none;
}

.loc-message[data-type=success]{
	display:block;
	color:green;
}
.loc-message[data-type=failure]{
	display:block;
	color:red;
}

#location-select .locate-me{
	
}

#location-select .recent-locations{
	background-color: #ccc;	
}